<navbar></navbar>
<div class="text-center">
    <button class="btn btn-success m-3 "
    data-bs-toggle="modal" data-bs-target="#exampleModal">Add User</button>
</div>
<hr>
<div class="text-center" >
  <h1 class="m-4">USUARIOS</h1>
</div>

<div *ngIf="users" class="row">
    <div *ngFor="let user of users" class="card m-4" style="width: 18rem;">
        <img src="../../assets/image/iconoUser.png" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">{{user.username}}</h5>
            <p class="card-text">name: {{user.name}}</p>
            <p class="card-text">surname: {{user.surname}}</p>
            <p class="card-text">email: {{user.email}}</p>
            <p class="card-text">role: {{user.role}}</p>
            <button (click)="getUser(user._id)" class="btn btn-warning m-3"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
            >Update
        </button>
        <button (click)="deleteUserByAdmin(user._id)" class="btn btn-danger m-3">Delete</button>
        <button [routerLink]="['/ligasUser/' + user._id]" class="btn btn-secondary  ms-5">View Leagues</button>

        </div>
      </div>
</div>

<!--Offcanvas   Update User-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Update User</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form *ngIf="userUpdate">
      <div class="mb-3">
        <label for="nameUpdate" class="form-label">Name</label>
        <input [(ngModel)]="userUpdate.name"  name="name" type="text" class="form-control" id="nameUpdate" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
          <label for="surname" class="form-label">surname</label>
          <input [(ngModel)]="userUpdate.surname"  name="surname" type="text" class="form-control" id="surname" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">username</label>
          <input [(ngModel)]="userUpdate.username"  name="username" type="text" class="form-control" id="username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">email</label>
          <input [(ngModel)]="userUpdate.email"  name="email" type="text" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
       
      <button (click)="updateUserByAdmin()" class="btn btn-warning mt -4"> Update</button>
    </form>
    
  </div>
</div>

<!-- Modal save User -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form #adduserForm="ngForm">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input [(ngModel)]="user.name" name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">surname</label>
                <input [(ngModel)]="user.surname" name="surname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">username</label>
                <input [(ngModel)]="user.username" name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">email</label>
                <input [(ngModel)]="user.email" name="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">password</label>
                <input [(ngModel)]="user.password" name="password" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
          
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="registerUserByAdmin(adduserForm)"  type="button" class="btn btn-primary"
        data-bs-dismiss="modal">Save User
        </button>
      </div>
    </div>
  </div>
</div>


